USE [master]
GO
/****** Object:  Database [QuanLyDichVu_DaiDuongXanh]    Script Date: 6/29/2026 5:25:12 PM ******/
CREATE DATABASE [QuanLyDichVu_DaiDuongXanh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyDichVu_DaiDuongXanh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyDichVu_DaiDuongXanh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyDichVu_DaiDuongXanh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyDichVu_DaiDuongXanh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyDichVu_DaiDuongXanh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyDichVu_DaiDuongXanh]
GO
/****** Object:  Table [dbo].[ChiTietDonDichVu]    Script Date: 6/29/2026 5:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonDichVu](
	[MADON] [varchar](20) NOT NULL,
	[MADV] [varchar](20) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [decimal](18, 2) NOT NULL,
	[THANHTIEN]  AS (CONVERT([decimal](18,2),[SOLUONG]*[DONGIA])) PERSISTED,
	[GHICHU] [nvarchar](500) NULL,
 CONSTRAINT [PK_ChiTietDonDichVu] PRIMARY KEY CLUSTERED 
(
	[MADON] ASC,
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChungTu]    Script Date: 6/29/2026 5:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChungTu](
	[MACT] [varchar](20) NOT NULL,
	[LOAICHUNGTU] [nvarchar](100) NOT NULL,
	[SOCHUNGTU] [nvarchar](50) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[TONGTIEN] [decimal](18, 2) NULL,
	[TRANGTHAI] [nvarchar](50) NOT NULL,
	[MADON] [varchar](20) NOT NULL,
	[MANV_KIEMTRA] [varchar](20) NULL,
	[GHICHU] [nvarchar](500) NULL,
	[NGAYDUYET] [datetime] NULL,
 CONSTRAINT [PK_ChungTu] PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongTy]    Script Date: 6/29/2026 5:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongTy](
	[MACTY] [varchar](20) NOT NULL,
	[TENCONGTY] [nvarchar](250) NOT NULL,
	[TENVIETTAT] [nvarchar](100) NULL,
	[TENQUOCTE] [nvarchar](300) NULL,
	[MASOTHUE] [varchar](20) NOT NULL,
	[NGAYTHANHLAP] [date] NULL,
	[NGUOIDAIDIEN] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](300) NOT NULL,
	[DIENTHOAI] [varchar](15) NULL,
	[EMAIL] [varchar](100) NULL,
	[WEBSITE] [varchar](200) NULL,
	[LINHVUC] [nvarchar](200) NULL,
	[TRANGTHAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CongTy] PRIMARY KEY CLUSTERED 
(
	[MACTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 6/29/2026 5:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MADV] [varchar](20) NOT NULL,
	[TENDV] [nvarchar](100) NOT NULL,
	[GIABAN] [decimal](18, 2) NOT NULL,
	[DONVITINH] [nvarchar](50) NOT NULL,
	[MOTA] [nvarchar](500) NULL,
	[TRANGTHAI] [nvarchar](50) NOT NULL,
	[MANHOM] [varchar](20) NOT NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDichVu]    Script Date: 6/29/2026 5:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDichVu](
	[MADON] [varchar](20) NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[NGAYTHUCHIEN] [datetime] NOT NULL,
	[DIEMDI] [nvarchar](200) NOT NULL,
	[DIEMDEN] [nvarchar](200) NOT NULL,
	[GHICHU] [nvarchar](1000) NULL,
	[TRANGTHAI] [nvarchar](50) NOT NULL,
	[MAKH] [varchar](20) NOT NULL,
	[MANV_TIEPNHAN] [varchar](20) NULL,
 CONSTRAINT [PK_DonDichVu] PRIMARY KEY CLUSTERED 
(
	[MADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/29/2026 5:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MAHD] [varchar](20) NOT NULL,
	[NGAYHD] [datetime] NOT NULL,
	[TONGTIEN] [decimal](18, 2) NOT NULL,
	[THUEVAT] [decimal](5, 2) NOT NULL,
	[CHIETKHAU] [decimal](5, 2) NOT NULL,
	[THANHTIEN] [decimal](18, 2) NOT NULL,
	[PHUONGTHUCTHANHTOAN] [nvarchar](50) NOT NULL,
	[TINHTRANGTHANHTOAN] [nvarchar](50) NOT NULL,
	[MADON] [varchar](20) NOT NULL,
	[MANV_LAP] [varchar](20) NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/29/2026 5:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MAKH] [varchar](20) NOT NULL,
	[TENKH] [nvarchar](100) NOT NULL,
	[DIACHIKH] [nvarchar](200) NOT NULL,
	[DIENTHOAIKH] [varchar](15) NOT NULL,
	[EMAILKH] [varchar](100) NOT NULL,
	[GIOITINHKH] [nvarchar](10) NULL,
	[NGAYSINHKH] [date] NULL,
	[TRANGTHAI] [nvarchar](50) NOT NULL,
	[NGAYDANGKY] [date] NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTrangThaiDon]    Script Date: 6/29/2026 5:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTrangThaiDon](
	[MALICHSU] [int] IDENTITY(1,1) NOT NULL,
	[MADON] [varchar](20) NOT NULL,
	[TRANGTHAI_CU] [nvarchar](50) NULL,
	[TRANGTHAI_MOI] [nvarchar](50) NOT NULL,
	[MANV_CAPNHAT] [varchar](20) NULL,
	[THOIGIANCAPNHAT] [datetime] NOT NULL,
	[GHICHU] [nvarchar](500) NULL,
 CONSTRAINT [PK_LichSuTrangThaiDon] PRIMARY KEY CLUSTERED 
(
	[MALICHSU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/29/2026 5:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [varchar](20) NOT NULL,
	[TENNV] [nvarchar](100) NOT NULL,
	[NGAYSINHNV] [date] NULL,
	[GIOITINHNV] [nvarchar](10) NULL,
	[DIACHINV] [nvarchar](200) NULL,
	[SDTNV] [varchar](15) NOT NULL,
	[EMAILNV] [varchar](100) NOT NULL,
	[VAITRO] [nvarchar](50) NOT NULL,
	[TRANGTHAI] [nvarchar](50) NOT NULL,
	[NGAYVAOLV] [date] NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomDichVu]    Script Date: 6/29/2026 5:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomDichVu](
	[MANHOM] [varchar](20) NOT NULL,
	[TENNHOM] [nvarchar](100) NOT NULL,
	[MOTA] [nvarchar](500) NULL,
	[TRANGTHAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhomDichVu] PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/29/2026 5:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MATK] [varchar](20) NOT NULL,
	[TENDANGNHAP] [varchar](100) NOT NULL,
	[MATKHAU_HASH] [nvarchar](200) NOT NULL,
	[LOAITAIKHOAN] [nvarchar](50) NOT NULL,
	[TRANGTHAI] [nvarchar](50) NOT NULL,
	[MAKH] [varchar](20) NULL,
	[MANV] [varchar](20) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDonDichVu] ([MADON], [MADV], [SOLUONG], [DONGIA], [GHICHU]) VALUES (N'DDV001', N'DV005', 1, CAST(15000000.00 AS Decimal(18, 2)), N'Container 20ft hàng điện tử')
INSERT [dbo].[ChiTietDonDichVu] ([MADON], [MADV], [SOLUONG], [DONGIA], [GHICHU]) VALUES (N'DDV001', N'DV015', 1, CAST(3000000.00 AS Decimal(18, 2)), N'Khai báo hải quan xuất khẩu')
INSERT [dbo].[ChiTietDonDichVu] ([MADON], [MADV], [SOLUONG], [DONGIA], [GHICHU]) VALUES (N'DDV002', N'DV002', 2, CAST(8000000.00 AS Decimal(18, 2)), N'2 xe tải hàng may mặc')
GO
INSERT [dbo].[ChungTu] ([MACT], [LOAICHUNGTU], [SOCHUNGTU], [NGAYLAP], [TONGTIEN], [TRANGTHAI], [MADON], [MANV_KIEMTRA], [GHICHU], [NGAYDUYET]) VALUES (N'CT00044', N'Vận đơn', N'VD-2024-00021', CAST(N'2026-06-27' AS Date), CAST(15000000.00 AS Decimal(18, 2)), N'Chờ duyệt', N'DDV032', NULL, N'Dịch vụ cho Ứng Văn Lộc', NULL)
INSERT [dbo].[ChungTu] ([MACT], [LOAICHUNGTU], [SOCHUNGTU], [NGAYLAP], [TONGTIEN], [TRANGTHAI], [MADON], [MANV_KIEMTRA], [GHICHU], [NGAYDUYET]) VALUES (N'CT00045', N'Vận đơn', N'VD-2024-00022', CAST(N'2026-06-28' AS Date), CAST(26000000.00 AS Decimal(18, 2)), N'Chờ duyệt', N'DDV036', NULL, N'Dịch vụ cho Tống Thị Hoa', NULL)
INSERT [dbo].[ChungTu] ([MACT], [LOAICHUNGTU], [SOCHUNGTU], [NGAYLAP], [TONGTIEN], [TRANGTHAI], [MADON], [MANV_KIEMTRA], [GHICHU], [NGAYDUYET]) VALUES (N'CT001', N'Vận đơn', N'VD-2024-001', CAST(N'2024-01-07' AS Date), CAST(18000000.00 AS Decimal(18, 2)), N'Đã duyệt', N'DDV001', N'NV001', NULL, NULL)
GO
INSERT [dbo].[CongTy] ([MACTY], [TENCONGTY], [TENVIETTAT], [TENQUOCTE], [MASOTHUE], [NGAYTHANHLAP], [NGUOIDAIDIEN], [DIACHI], [DIENTHOAI], [EMAIL], [WEBSITE], [LINHVUC], [TRANGTHAI]) VALUES (N'CT001', N'CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ VẬN TẢI QUỐC TẾ ĐẠI DƯƠNG XANH', N'GREEN OCEAN TRANSPORTATION', N'GREEN OCEAN TRADING SERVICES INTERNATIONAL TRANSPORTATION COMPANY LIMITED', N'0312660682', CAST(N'2014-02-25' AS Date), N'Lý Thanh Đức', N'84/10 Đường 49, Phường Hiệp Bình, TP. Hồ Chí Minh', N'0938202369', NULL, NULL, N'Dịch vụ hỗ trợ vận tải và logistics', N'Hoạt động')
GO
INSERT [dbo].[DichVu] ([MADV], [TENDV], [GIABAN], [DONVITINH], [MOTA], [TRANGTHAI], [MANHOM]) VALUES (N'DV001', N'Vận chuyển hàng lẻ LCL nội địa', CAST(1500000.00 AS Decimal(18, 2)), N'Chuyến', N'Vận chuyển hàng lẻ ghép chung xe, phạm vi toàn quốc', N'Đang cung cấp', N'NDV001')
INSERT [dbo].[DichVu] ([MADV], [TENDV], [GIABAN], [DONVITINH], [MOTA], [TRANGTHAI], [MANHOM]) VALUES (N'DV002', N'Vận chuyển hàng nguyên xe FTL nội địa', CAST(8000000.00 AS Decimal(18, 2)), N'Chuyến', N'Thuê nguyên xe tải từ 5-15 tấn, giao hàng toàn quốc', N'Đang cung cấp', N'NDV001')
INSERT [dbo].[DichVu] ([MADV], [TENDV], [GIABAN], [DONVITINH], [MOTA], [TRANGTHAI], [MANHOM]) VALUES (N'DV003', N'Vận chuyển đường thủy nội địa', CAST(5000000.00 AS Decimal(18, 2)), N'Chuyến', N'Vận chuyển bằng sà lan, phà; phù hợp hàng cồng kềnh, ĐBSCL', N'Đang cung cấp', N'NDV001')
GO
INSERT [dbo].[DonDichVu] ([MADON], [NGAYDAT], [NGAYTHUCHIEN], [DIEMDI], [DIEMDEN], [GHICHU], [TRANGTHAI], [MAKH], [MANV_TIEPNHAN]) VALUES (N'DDV001', CAST(N'2024-01-05T08:00:00.000' AS DateTime), CAST(N'2024-01-07T08:00:00.000' AS DateTime), N'Cảng Cát Lái, TP.HCM', N'KCN Bắc Ninh, Bắc Ninh', N'Hàng điện tử xuất kho', N'Hoàn thành', N'KH001', N'NV004')
INSERT [dbo].[DonDichVu] ([MADON], [NGAYDAT], [NGAYTHUCHIEN], [DIEMDI], [DIEMDEN], [GHICHU], [TRANGTHAI], [MAKH], [MANV_TIEPNHAN]) VALUES (N'DDV002', CAST(N'2024-01-10T09:00:00.000' AS DateTime), CAST(N'2024-01-12T09:00:00.000' AS DateTime), N'KCN Tân Bình, TP.HCM', N'Cảng Hải Phòng', N'Hàng may mặc xuất khẩu', N'Hoàn thành', N'KH002', N'NV005')
INSERT [dbo].[DonDichVu] ([MADON], [NGAYDAT], [NGAYTHUCHIEN], [DIEMDI], [DIEMDEN], [GHICHU], [TRANGTHAI], [MAKH], [MANV_TIEPNHAN]) VALUES (N'DDV003', CAST(N'2024-01-15T10:00:00.000' AS DateTime), CAST(N'2024-01-16T10:00:00.000' AS DateTime), N'Bình Dương', N'Long An', N'Phân bón nông nghiệp', N'Hoàn thành', N'KH003', N'NV008')
GO
INSERT [dbo].[HoaDon] ([MAHD], [NGAYHD], [TONGTIEN], [THUEVAT], [CHIETKHAU], [THANHTIEN], [PHUONGTHUCTHANHTOAN], [TINHTRANGTHANHTOAN], [MADON], [MANV_LAP]) VALUES (N'HD00041', CAST(N'2026-06-27T13:17:02.307' AS DateTime), CAST(18000000.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(19800000.00 AS Decimal(18, 2)), N'Chuyển khoản', N'Chưa thanh toán', N'DDV20260627130851', N'NV024')
INSERT [dbo].[HoaDon] ([MAHD], [NGAYHD], [TONGTIEN], [THUEVAT], [CHIETKHAU], [THANHTIEN], [PHUONGTHUCTHANHTOAN], [TINHTRANGTHANHTOAN], [MADON], [MANV_LAP]) VALUES (N'HD001', CAST(N'2024-01-09T00:00:00.000' AS DateTime), CAST(18000000.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(19800000.00 AS Decimal(18, 2)), N'Chuyển khoản', N'Đã thanh toán', N'DDV001', N'NV003')
INSERT [dbo].[HoaDon] ([MAHD], [NGAYHD], [TONGTIEN], [THUEVAT], [CHIETKHAU], [THANHTIEN], [PHUONGTHUCTHANHTOAN], [TINHTRANGTHANHTOAN], [MADON], [MANV_LAP]) VALUES (N'HD002', CAST(N'2024-01-14T00:00:00.000' AS DateTime), CAST(26000000.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(5.00 AS Decimal(5, 2)), CAST(26950000.00 AS Decimal(18, 2)), N'Chuyển khoản', N'Đã thanh toán', N'DDV002', N'NV007')
GO
INSERT [dbo].[KhachHang] ([MAKH], [TENKH], [DIACHIKH], [DIENTHOAIKH], [EMAILKH], [GIOITINHKH], [NGAYSINHKH], [TRANGTHAI], [NGAYDANGKY]) VALUES (N'KH00053', N'Vũ Ngọc Linh', N'85 Rạch Bùng Binh', N'0399038495', N'vnglinh19@gmail.com', NULL, NULL, N'Hoạt động', CAST(N'2026-06-27' AS Date))
INSERT [dbo].[KhachHang] ([MAKH], [TENKH], [DIACHIKH], [DIENTHOAIKH], [EMAILKH], [GIOITINHKH], [NGAYSINHKH], [TRANGTHAI], [NGAYDANGKY]) VALUES (N'KH001', N'Nguyễn Văn An', N'12 Lê Lợi, Q.1, TP.HCM', N'0901234501', N'an.nguyen@gmail.com', N'Nam', CAST(N'1980-04-15' AS Date), N'Hoạt động', CAST(N'2023-01-05' AS Date))
INSERT [dbo].[KhachHang] ([MAKH], [TENKH], [DIACHIKH], [DIENTHOAIKH], [EMAILKH], [GIOITINHKH], [NGAYSINHKH], [TRANGTHAI], [NGAYDANGKY]) VALUES (N'KH002', N'Trần Thị Bích', N'34 Hai Bà Trưng, Q.3, TP.HCM', N'0901234502', N'bich.tran@gmail.com', N'Nữ', CAST(N'1987-10-30' AS Date), N'Hoạt động', CAST(N'2023-01-12' AS Date))
GO
SET IDENTITY_INSERT [dbo].[LichSuTrangThaiDon] ON 

INSERT [dbo].[LichSuTrangThaiDon] ([MALICHSU], [MADON], [TRANGTHAI_CU], [TRANGTHAI_MOI], [MANV_CAPNHAT], [THOIGIANCAPNHAT], [GHICHU]) VALUES (1, N'DDV001', NULL, N'Chờ xác nhận', N'NV004', CAST(N'2024-01-05T08:00:00.000' AS DateTime), N'Đơn mới tạo')
INSERT [dbo].[LichSuTrangThaiDon] ([MALICHSU], [MADON], [TRANGTHAI_CU], [TRANGTHAI_MOI], [MANV_CAPNHAT], [THOIGIANCAPNHAT], [GHICHU]) VALUES (2, N'DDV001', N'Chờ xác nhận', N'Đã xác nhận', N'NV004', CAST(N'2024-01-05T14:00:00.000' AS DateTime), N'Xác nhận sau khi kiểm tra chi tiết')
INSERT [dbo].[LichSuTrangThaiDon] ([MALICHSU], [MADON], [TRANGTHAI_CU], [TRANGTHAI_MOI], [MANV_CAPNHAT], [THOIGIANCAPNHAT], [GHICHU]) VALUES (3, N'DDV001', N'Đã xác nhận', N'Đang xử lý', N'NV004', CAST(N'2024-01-07T08:00:00.000' AS DateTime), N'Bắt đầu vận chuyển')
SET IDENTITY_INSERT [dbo].[LichSuTrangThaiDon] OFF
GO
INSERT [dbo].[NhanVien] ([MANV], [TENNV], [NGAYSINHNV], [GIOITINHNV], [DIACHINV], [SDTNV], [EMAILNV], [VAITRO], [TRANGTHAI], [NGAYVAOLV]) VALUES (N'NV001', N'Nguyễn Thị Hương', CAST(N'1985-03-12' AS Date), N'Nữ', N'15 Trần Hưng Đạo, Q.1, TP.HCM', N'0911000001', N'huong.nguyen@daiduongxanh.vn', N'Chủ doanh nghiệp', N'Đang làm việc', CAST(N'2015-01-01' AS Date))
INSERT [dbo].[NhanVien] ([MANV], [TENNV], [NGAYSINHNV], [GIOITINHNV], [DIACHINV], [SDTNV], [EMAILNV], [VAITRO], [TRANGTHAI], [NGAYVAOLV]) VALUES (N'NV002', N'Lê Quang Trường', CAST(N'1982-07-20' AS Date), N'Nam', N'27 Nguyễn Bỉnh Khiêm, Q.1, TP.HCM', N'0911000002', N'truong.le@daiduongxanh.vn', N'Nhân viên quản lý hệ thống', N'Đang làm việc', CAST(N'2015-03-15' AS Date))
INSERT [dbo].[NhanVien] ([MANV], [TENNV], [NGAYSINHNV], [GIOITINHNV], [DIACHINV], [SDTNV], [EMAILNV], [VAITRO], [TRANGTHAI], [NGAYVAOLV]) VALUES (N'NV003', N'Phạm Thị Mai', CAST(N'1990-05-08' AS Date), N'Nữ', N'39 Đinh Tiên Hoàng, Q.1, TP.HCM', N'0911000003', N'mai.pham@daiduongxanh.vn', N'Nhân viên bán hàng', N'Đang làm việc', CAST(N'2016-06-01' AS Date))
GO
INSERT [dbo].[NhomDichVu] ([MANHOM], [TENNHOM], [MOTA], [TRANGTHAI]) VALUES (N'NDV001', N'Vận tải nội địa', N'Dịch vụ vận chuyển hàng hóa trong nước bằng đường bộ, đường thủy', N'Hoạt động')
INSERT [dbo].[NhomDichVu] ([MANHOM], [TENNHOM], [MOTA], [TRANGTHAI]) VALUES (N'NDV002', N'Vận tải quốc tế', N'Dịch vụ xuất nhập khẩu, vận chuyển hàng hóa qua biên giới và đường biển quốc tế', N'Hoạt động')
INSERT [dbo].[NhomDichVu] ([MANHOM], [TENNHOM], [MOTA], [TRANGTHAI]) VALUES (N'NDV003', N'Kho bãi & Lưu trữ', N'Dịch vụ thuê kho bãi, bốc xếp hàng hóa, quản lý tồn kho', N'Hoạt động')
GO
INSERT [dbo].[TaiKhoan] ([MATK], [TENDANGNHAP], [MATKHAU_HASH], [LOAITAIKHOAN], [TRANGTHAI], [MAKH], [MANV]) VALUES (N'TK001', N'kh_an.nguyen', N'$2b$12$hash001', N'Khách hàng', N'Hoạt động', N'KH001', NULL)
INSERT [dbo].[TaiKhoan] ([MATK], [TENDANGNHAP], [MATKHAU_HASH], [LOAITAIKHOAN], [TRANGTHAI], [MAKH], [MANV]) VALUES (N'TK00151', N'vulinh', N'Rdc48597@', N'Khách hàng', N'Hoạt động', N'KH00053', NULL)
INSERT [dbo].[TaiKhoan] ([MATK], [TENDANGNHAP], [MATKHAU_HASH], [LOAITAIKHOAN], [TRANGTHAI], [MAKH], [MANV]) VALUES (N'TK00152', N'nv_ngoc.vu', N'bd2e5d0f40d00131c8b605a4f5f79c065fea8e436344a39c6b456c1c69d11a2f', N'Nhân viên văn phòng', N'Hoạt động', NULL, N'NV051')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietDonDichVu_MADV]    Script Date: 6/29/2026 5:25:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDonDichVu_MADV] ON [dbo].[ChiTietDonDichVu]
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ChungTu_SOCHUNGTU]    Script Date: 6/29/2026 5:25:12 PM ******/
ALTER TABLE [dbo].[ChungTu] ADD  CONSTRAINT [UQ_ChungTu_SOCHUNGTU] UNIQUE NONCLUSTERED 
(
	[SOCHUNGTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChungTu_MANV_KIEMTRA]    Script Date: 6/29/2026 5:25:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChungTu_MANV_KIEMTRA] ON [dbo].[ChungTu]
(
	[MANV_KIEMTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CongTy_MST]    Script Date: 6/29/2026 5:25:12 PM ******/
ALTER TABLE [dbo].[CongTy] ADD  CONSTRAINT [UQ_CongTy_MST] UNIQUE NONCLUSTERED 
(
	[MASOTHUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DichVu_TENDV]    Script Date: 6/29/2026 5:25:12 PM ******/
ALTER TABLE [dbo].[DichVu] ADD  CONSTRAINT [UQ_DichVu_TENDV] UNIQUE NONCLUSTERED 
(
	[TENDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DonDichVu_MAKH]    Script Date: 6/29/2026 5:25:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonDichVu_MAKH] ON [dbo].[DonDichVu]
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DonDichVu_MANV_TIEPNHAN]    Script Date: 6/29/2026 5:25:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonDichVu_MANV_TIEPNHAN] ON [dbo].[DonDichVu]
(
	[MANV_TIEPNHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonDichVu_NGAYDAT]    Script Date: 6/29/2026 5:25:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonDichVu_NGAYDAT] ON [dbo].[DonDichVu]
(
	[NGAYDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DonDichVu_TRANGTHAI]    Script Date: 6/29/2026 5:25:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonDichVu_TRANGTHAI] ON [dbo].[DonDichVu]
(
	[TRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_HoaDon_MADON]    Script Date: 6/29/2026 5:25:12 PM ******/
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [UQ_HoaDon_MADON] UNIQUE NONCLUSTERED 
(
	[MADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDon_TINHTRANG]    Script Date: 6/29/2026 5:25:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_TINHTRANG] ON [dbo].[HoaDon]
(
	[TINHTRANGTHANHTOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_KhachHang_DIENTHOAI]    Script Date: 6/29/2026 5:25:12 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [UQ_KhachHang_DIENTHOAI] UNIQUE NONCLUSTERED 
(
	[DIENTHOAIKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_KhachHang_EMAIL]    Script Date: 6/29/2026 5:25:12 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [UQ_KhachHang_EMAIL] UNIQUE NONCLUSTERED 
(
	[EMAILKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NhanVien_EMAILNV]    Script Date: 6/29/2026 5:25:12 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [UQ_NhanVien_EMAILNV] UNIQUE NONCLUSTERED 
(
	[EMAILNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NhanVien_SDTNV]    Script Date: 6/29/2026 5:25:12 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [UQ_NhanVien_SDTNV] UNIQUE NONCLUSTERED 
(
	[SDTNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NhanVien_VAITRO]    Script Date: 6/29/2026 5:25:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_NhanVien_VAITRO] ON [dbo].[NhanVien]
(
	[VAITRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NhomDichVu_TENNHOM]    Script Date: 6/29/2026 5:25:12 PM ******/
ALTER TABLE [dbo].[NhomDichVu] ADD  CONSTRAINT [UQ_NhomDichVu_TENNHOM] UNIQUE NONCLUSTERED 
(
	[TENNHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TaiKhoan_TENDANGNHAP]    Script Date: 6/29/2026 5:25:12 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [UQ_TaiKhoan_TENDANGNHAP] UNIQUE NONCLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_TaiKhoan_MAKH_NotNull]    Script Date: 6/29/2026 5:25:12 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TaiKhoan_MAKH_NotNull] ON [dbo].[TaiKhoan]
(
	[MAKH] ASC
)
WHERE ([MAKH] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_TaiKhoan_MANV_NotNull]    Script Date: 6/29/2026 5:25:12 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TaiKhoan_MANV_NotNull] ON [dbo].[TaiKhoan]
(
	[MANV] ASC
)
WHERE ([MANV] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChungTu] ADD  DEFAULT (CONVERT([date],getdate())) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[ChungTu] ADD  DEFAULT (N'Chờ kiểm tra') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[CongTy] ADD  DEFAULT (N'Hoạt động') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[DichVu] ADD  DEFAULT (N'Đang cung cấp') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[DonDichVu] ADD  DEFAULT (getdate()) FOR [NGAYDAT]
GO
ALTER TABLE [dbo].[DonDichVu] ADD  DEFAULT (N'Chờ xác nhận') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NGAYHD]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TONGTIEN]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((10)) FOR [THUEVAT]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [CHIETKHAU]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [THANHTIEN]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'Chưa thanh toán') FOR [TINHTRANGTHANHTOAN]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (N'Hoạt động') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (CONVERT([date],getdate())) FOR [NGAYDANGKY]
GO
ALTER TABLE [dbo].[LichSuTrangThaiDon] ADD  DEFAULT (getdate()) FOR [THOIGIANCAPNHAT]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Đang làm việc') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (CONVERT([date],getdate())) FOR [NGAYVAOLV]
GO
ALTER TABLE [dbo].[NhomDichVu] ADD  DEFAULT (N'Hoạt động') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (N'Hoạt động') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[ChiTietDonDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDon_DichVu] FOREIGN KEY([MADV])
REFERENCES [dbo].[DichVu] ([MADV])
GO
ALTER TABLE [dbo].[ChiTietDonDichVu] CHECK CONSTRAINT [FK_ChiTietDon_DichVu]
GO
ALTER TABLE [dbo].[ChiTietDonDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDon_DonDichVu] FOREIGN KEY([MADON])
REFERENCES [dbo].[DonDichVu] ([MADON])
GO
ALTER TABLE [dbo].[ChiTietDonDichVu] CHECK CONSTRAINT [FK_ChiTietDon_DonDichVu]
GO
ALTER TABLE [dbo].[ChungTu]  WITH CHECK ADD  CONSTRAINT [FK_ChungTu_DonDichVu] FOREIGN KEY([MADON])
REFERENCES [dbo].[DonDichVu] ([MADON])
GO
ALTER TABLE [dbo].[ChungTu] CHECK CONSTRAINT [FK_ChungTu_DonDichVu]
GO
ALTER TABLE [dbo].[ChungTu]  WITH CHECK ADD  CONSTRAINT [FK_ChungTu_NhanVien] FOREIGN KEY([MANV_KIEMTRA])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[ChungTu] CHECK CONSTRAINT [FK_ChungTu_NhanVien]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [FK_DichVu_NhomDichVu] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[NhomDichVu] ([MANHOM])
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [FK_DichVu_NhomDichVu]
GO
ALTER TABLE [dbo].[DonDichVu]  WITH CHECK ADD  CONSTRAINT [FK_DonDichVu_KhachHang] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
GO
ALTER TABLE [dbo].[DonDichVu] CHECK CONSTRAINT [FK_DonDichVu_KhachHang]
GO
ALTER TABLE [dbo].[DonDichVu]  WITH CHECK ADD  CONSTRAINT [FK_DonDichVu_NhanVien] FOREIGN KEY([MANV_TIEPNHAN])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[DonDichVu] CHECK CONSTRAINT [FK_DonDichVu_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_DonDichVu] FOREIGN KEY([MADON])
REFERENCES [dbo].[DonDichVu] ([MADON])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_DonDichVu]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MANV_LAP])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[LichSuTrangThaiDon]  WITH CHECK ADD  CONSTRAINT [FK_LichSuTrangThaiDon_Don] FOREIGN KEY([MADON])
REFERENCES [dbo].[DonDichVu] ([MADON])
GO
ALTER TABLE [dbo].[LichSuTrangThaiDon] CHECK CONSTRAINT [FK_LichSuTrangThaiDon_Don]
GO
ALTER TABLE [dbo].[LichSuTrangThaiDon]  WITH CHECK ADD  CONSTRAINT [FK_LichSuTrangThaiDon_NhanVien] FOREIGN KEY([MANV_CAPNHAT])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[LichSuTrangThaiDon] CHECK CONSTRAINT [FK_LichSuTrangThaiDon_NhanVien]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietDonDichVu]  WITH CHECK ADD  CONSTRAINT [CK_ChiTietDon_DONGIA] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietDonDichVu] CHECK CONSTRAINT [CK_ChiTietDon_DONGIA]
GO
ALTER TABLE [dbo].[ChiTietDonDichVu]  WITH CHECK ADD  CONSTRAINT [CK_ChiTietDon_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[ChiTietDonDichVu] CHECK CONSTRAINT [CK_ChiTietDon_SOLUONG]
GO
ALTER TABLE [dbo].[ChungTu]  WITH CHECK ADD  CONSTRAINT [CK_ChungTu_LOAI] CHECK  (([LOAICHUNGTU]=N'Khác' OR [LOAICHUNGTU]=N'Chứng từ xuất nhập khẩu' OR [LOAICHUNGTU]=N'Biên bản giao nhận' OR [LOAICHUNGTU]=N'Hợp đồng' OR [LOAICHUNGTU]=N'Vận đơn'))
GO
ALTER TABLE [dbo].[ChungTu] CHECK CONSTRAINT [CK_ChungTu_LOAI]
GO
ALTER TABLE [dbo].[ChungTu]  WITH CHECK ADD  CONSTRAINT [CK_ChungTu_TONGTIEN] CHECK  (([TONGTIEN] IS NULL OR [TONGTIEN]>=(0)))
GO
ALTER TABLE [dbo].[ChungTu] CHECK CONSTRAINT [CK_ChungTu_TONGTIEN]
GO
ALTER TABLE [dbo].[ChungTu]  WITH CHECK ADD  CONSTRAINT [CK_ChungTu_TRANGTHAI] CHECK  (([TRANGTHAI]=N'Từ chối' OR [TRANGTHAI]=N'Trả lại' OR [TRANGTHAI]=N'Đã duyệt' OR [TRANGTHAI]=N'Chờ duyệt'))
GO
ALTER TABLE [dbo].[ChungTu] CHECK CONSTRAINT [CK_ChungTu_TRANGTHAI]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [CK_DichVu_GIABAN] CHECK  (([GIABAN]>=(0)))
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [CK_DichVu_GIABAN]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [CK_DichVu_TRANGTHAI] CHECK  (([TRANGTHAI]=N'Ngừng cung cấp' OR [TRANGTHAI]=N'Đang cung cấp'))
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [CK_DichVu_TRANGTHAI]
GO
ALTER TABLE [dbo].[DonDichVu]  WITH CHECK ADD  CONSTRAINT [CK_DonDichVu_NGAY] CHECK  (([NGAYTHUCHIEN]>=[NGAYDAT]))
GO
ALTER TABLE [dbo].[DonDichVu] CHECK CONSTRAINT [CK_DonDichVu_NGAY]
GO
ALTER TABLE [dbo].[DonDichVu]  WITH CHECK ADD  CONSTRAINT [CK_DonDichVu_TRANGTHAI] CHECK  (([TRANGTHAI]=N'Hủy' OR [TRANGTHAI]=N'Hoàn thành' OR [TRANGTHAI]=N'Đang xử lý' OR [TRANGTHAI]=N'Đã xác nhận' OR [TRANGTHAI]=N'Chờ xác nhận'))
GO
ALTER TABLE [dbo].[DonDichVu] CHECK CONSTRAINT [CK_DonDichVu_TRANGTHAI]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_HoaDon_CHIETKHAU] CHECK  (([CHIETKHAU]>=(0) AND [CHIETKHAU]<=(100)))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK_HoaDon_CHIETKHAU]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_HoaDon_PHUONGTHUC] CHECK  (([PHUONGTHUCTHANHTOAN]=N'Online' OR [PHUONGTHUCTHANHTOAN]=N'Chuyển khoản' OR [PHUONGTHUCTHANHTOAN]=N'Tiền mặt'))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK_HoaDon_PHUONGTHUC]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_HoaDon_THANHTIEN] CHECK  (([THANHTIEN]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK_HoaDon_THANHTIEN]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_HoaDon_THUEVAT] CHECK  (([THUEVAT]>=(0) AND [THUEVAT]<=(100)))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK_HoaDon_THUEVAT]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_HoaDon_TINHTRANG] CHECK  (([TINHTRANGTHANHTOAN]=N'Đã thanh toán' OR [TINHTRANGTHANHTOAN]=N'Thanh toán một phần' OR [TINHTRANGTHANHTOAN]=N'Chưa thanh toán'))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK_HoaDon_TINHTRANG]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_HoaDon_TONGTIEN] CHECK  (([TONGTIEN]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK_HoaDon_TONGTIEN]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK_KhachHang_EMAIL] CHECK  (([EMAILKH] like '%@%.%'))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK_KhachHang_EMAIL]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK_KhachHang_GIOITINH] CHECK  (([GIOITINHKH] IS NULL OR ([GIOITINHKH]=N'Khác' OR [GIOITINHKH]=N'Nữ' OR [GIOITINHKH]=N'Nam')))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK_KhachHang_GIOITINH]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK_KhachHang_SDT] CHECK  ((NOT [DIENTHOAIKH] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK_KhachHang_SDT]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK_KhachHang_TRANGTHAI] CHECK  (([TRANGTHAI]=N'Khóa' OR [TRANGTHAI]=N'Hoạt động'))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK_KhachHang_TRANGTHAI]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [CK_NhanVien_EMAIL] CHECK  (([EMAILNV] like '%@%.%'))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_NhanVien_EMAIL]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [CK_NhanVien_GIOITINH] CHECK  (([GIOITINHNV] IS NULL OR ([GIOITINHNV]=N'Khác' OR [GIOITINHNV]=N'Nữ' OR [GIOITINHNV]=N'Nam')))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_NhanVien_GIOITINH]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [CK_NhanVien_NGAYSINH] CHECK  (([NGAYSINHNV] IS NULL OR [NGAYSINHNV]<[NGAYVAOLV]))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_NhanVien_NGAYSINH]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [CK_NhanVien_SDT] CHECK  ((NOT [SDTNV] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_NhanVien_SDT]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [CK_NhanVien_TRANGTHAI] CHECK  (([TRANGTHAI]=N'Nghỉ việc' OR [TRANGTHAI]=N'Đang làm việc'))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_NhanVien_TRANGTHAI]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [CK_NhanVien_VAITRO] CHECK  (([VAITRO]=N'Chủ doanh nghiệp' OR [VAITRO]=N'Nhân viên quản lý hệ thống' OR [VAITRO]=N'Nhân viên văn phòng' OR [VAITRO]=N'Nhân viên bán hàng'))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_NhanVien_VAITRO]
GO
ALTER TABLE [dbo].[NhomDichVu]  WITH CHECK ADD  CONSTRAINT [CK_NhomDichVu_TRANGTHAI] CHECK  (([TRANGTHAI]=N'Ẩn' OR [TRANGTHAI]=N'Hoạt động'))
GO
ALTER TABLE [dbo].[NhomDichVu] CHECK CONSTRAINT [CK_NhomDichVu_TRANGTHAI]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_LOAI] CHECK  (([LOAITAIKHOAN]=N'Chủ doanh nghiệp' OR [LOAITAIKHOAN]=N'Nhân viên quản lý hệ thống' OR [LOAITAIKHOAN]=N'Nhân viên văn phòng' OR [LOAITAIKHOAN]=N'Nhân viên bán hàng' OR [LOAITAIKHOAN]=N'Khách hàng'))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK_TaiKhoan_LOAI]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_NGUOIDUNG] CHECK  (([LOAITAIKHOAN]=N'Khách hàng' AND [MAKH] IS NOT NULL AND [MANV] IS NULL OR ([LOAITAIKHOAN]=N'Chủ doanh nghiệp' OR [LOAITAIKHOAN]=N'Nhân viên quản lý hệ thống' OR [LOAITAIKHOAN]=N'Nhân viên văn phòng' OR [LOAITAIKHOAN]=N'Nhân viên bán hàng') AND [MANV] IS NOT NULL AND [MAKH] IS NULL))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK_TaiKhoan_NGUOIDUNG]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_TRANGTHAI] CHECK  (([TRANGTHAI]=N'Khóa' OR [TRANGTHAI]=N'Hoạt động'))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK_TaiKhoan_TRANGTHAI]
GO
/****** Object:  Trigger [dbo].[tg_ChiTietDon_CapNhatHoaDon]    Script Date: 6/29/2026 5:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Cap nhat tong tien hoa don khi chi tiet don thay doi.
CREATE TRIGGER [dbo].[tg_ChiTietDon_CapNhatHoaDon]
ON [dbo].[ChiTietDonDichVu]
FOR INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE HD
    SET
        TONGTIEN = ISNULL(T.TONGTIEN, 0),
        THANHTIEN = ISNULL(T.TONGTIEN, 0)
                    + ISNULL(T.TONGTIEN, 0) * HD.THUEVAT / 100
                    - ISNULL(T.TONGTIEN, 0) * HD.CHIETKHAU / 100
    FROM HoaDon HD
    JOIN (
        SELECT MADON FROM inserted
        UNION
        SELECT MADON FROM deleted
    ) X ON X.MADON = HD.MADON
    OUTER APPLY (
        SELECT SUM(THANHTIEN) AS TONGTIEN
        FROM ChiTietDonDichVu CT
        WHERE CT.MADON = HD.MADON
    ) T;
END;

GO
ALTER TABLE [dbo].[ChiTietDonDichVu] ENABLE TRIGGER [tg_ChiTietDon_CapNhatHoaDon]
GO
/****** Object:  Trigger [dbo].[tg_ChiTietDon_KhongXoaHetChiTiet]    Script Date: 6/29/2026 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Khong duoc xoa het chi tiet cua don da xac nhan hoac dang xu ly.
CREATE TRIGGER [dbo].[tg_ChiTietDon_KhongXoaHetChiTiet]
ON [dbo].[ChiTietDonDichVu]
FOR DELETE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM deleted D
        JOIN DonDichVu DDV ON DDV.MADON = D.MADON
        WHERE DDV.TRANGTHAI IN (N'Đã xác nhận', N'Đang xử lý')
          AND NOT EXISTS (
              SELECT 1
              FROM ChiTietDonDichVu CT
              WHERE CT.MADON = D.MADON
          )
    )
    BEGIN
        RAISERROR(N'Không được xóa hết chi tiết của đơn đã xác nhận hoặc đang xử lý.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END;
END;

GO
ALTER TABLE [dbo].[ChiTietDonDichVu] ENABLE TRIGGER [tg_ChiTietDon_KhongXoaHetChiTiet]
GO
/****** Object:  Trigger [dbo].[tg_ChungTu_KiemTraNguoiKiemTra]    Script Date: 6/29/2026 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Nguoi kiem tra chung tu phai la nhan vien van phong hoac chu doanh nghiep dang lam viec.
CREATE TRIGGER [dbo].[tg_ChungTu_KiemTraNguoiKiemTra]
ON [dbo].[ChungTu]
FOR INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM inserted I
        JOIN NhanVien NV ON NV.MANV = I.MANV_KIEMTRA
        WHERE I.MANV_KIEMTRA IS NOT NULL
          AND (
              NV.TRANGTHAI <> N'Đang làm việc'
              OR NV.VAITRO NOT IN (N'Chủ doanh nghiệp')
          )
    )
       BEGIN
        RAISERROR(N'Chỉ Chủ doanh nghiệp được phép duyệt chứng từ.',16,1);
        ROLLBACK TRANSACTION;
        RETURN;
    END;
END;

GO
ALTER TABLE [dbo].[ChungTu] ENABLE TRIGGER [tg_ChungTu_KiemTraNguoiKiemTra]
GO
/****** Object:  Trigger [dbo].[tg_DonDichVu_GhiLichSuTrangThai]    Script Date: 6/29/2026 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Ghi nhan lich su moi khi trang thai don thay doi.
CREATE TRIGGER [dbo].[tg_DonDichVu_GhiLichSuTrangThai]
ON [dbo].[DonDichVu]
FOR UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF UPDATE(TRANGTHAI)
    BEGIN
        INSERT INTO LichSuTrangThaiDon (MADON, TRANGTHAI_CU, TRANGTHAI_MOI, MANV_CAPNHAT)
        SELECT I.MADON, D.TRANGTHAI, I.TRANGTHAI, I.MANV_TIEPNHAN
        FROM inserted I
        JOIN deleted D ON D.MADON = I.MADON
        WHERE ISNULL(I.TRANGTHAI, N'') <> ISNULL(D.TRANGTHAI, N'');
    END;
END;

GO
ALTER TABLE [dbo].[DonDichVu] ENABLE TRIGGER [tg_DonDichVu_GhiLichSuTrangThai]
GO
/****** Object:  Trigger [dbo].[tg_DonDichVu_KiemTraKhiXacNhan]    Script Date: 6/29/2026 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Khi xac nhan don, don phai co it nhat mot dich vu va co nhan vien tiep nhan.
CREATE TRIGGER [dbo].[tg_DonDichVu_KiemTraKhiXacNhan]
ON [dbo].[DonDichVu]
FOR UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF UPDATE(TRANGTHAI)
    BEGIN
        IF EXISTS (
            SELECT 1
            FROM inserted I
            JOIN deleted D ON D.MADON = I.MADON
            WHERE I.TRANGTHAI = N'Đã xác nhận'
              AND D.TRANGTHAI <> N'Đã xác nhận'
              AND (
                  I.MANV_TIEPNHAN IS NULL
                  OR NOT EXISTS (
                      SELECT 1
                      FROM ChiTietDonDichVu CT
                      WHERE CT.MADON = I.MADON
                  )
              )
        )
        BEGIN
            RAISERROR(N'Đơn phải có nhân viên tiếp nhận và ít nhất một chi tiết trước khi xác nhận.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;
    END;
END;

GO
ALTER TABLE [dbo].[DonDichVu] ENABLE TRIGGER [tg_DonDichVu_KiemTraKhiXacNhan]
GO
/****** Object:  Trigger [dbo].[tg_DonDichVu_KiemTraNguoiLienQuan]    Script Date: 6/29/2026 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 9. TRIGGER RANG BUOC NGHIEP VU
-- ============================================================

-- Khach hang dat don phai dang hoat dong.
-- Nhan vien tiep nhan, neu co, phai dang lam viec va co vai tro nhan vien ban hang.
CREATE TRIGGER [dbo].[tg_DonDichVu_KiemTraNguoiLienQuan]
ON [dbo].[DonDichVu]
FOR INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM inserted I
        JOIN KhachHang KH ON KH.MAKH = I.MAKH
        WHERE KH.TRANGTHAI <> N'Hoạt động'
    )
    BEGIN
        RAISERROR(N'Khách hàng đặt dịch vụ phải đang hoạt động.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END;

    IF EXISTS (
        SELECT 1
        FROM inserted I
        JOIN NhanVien NV ON NV.MANV = I.MANV_TIEPNHAN
        WHERE I.MANV_TIEPNHAN IS NOT NULL
          AND (
              NV.TRANGTHAI <> N'Đang làm việc'
              OR NV.VAITRO <> N'Nhân viên bán hàng'
          )
    )
    BEGIN
        RAISERROR(N'Nhân viên tiếp nhận đơn phải là nhân viên bán hàng đang làm việc.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END;
END;

GO
ALTER TABLE [dbo].[DonDichVu] ENABLE TRIGGER [tg_DonDichVu_KiemTraNguoiLienQuan]
GO
/****** Object:  Trigger [dbo].[tg_HoaDon_ChiLapChoDonHoanThanh]    Script Date: 6/29/2026 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tg_HoaDon_ChiLapChoDonHoanThanh]
ON [dbo].[HoaDon]
FOR INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM inserted I
        JOIN DonDichVu D ON I.MADON = D.MADON
        WHERE D.TRANGTHAI <> N'Hoàn thành'
    )
    BEGIN
        RAISERROR(N'Chỉ được lập hóa đơn cho đơn dịch vụ đã hoàn thành.',16,1);
        ROLLBACK TRANSACTION;
        RETURN;
    END;
END;

GO
ALTER TABLE [dbo].[HoaDon] ENABLE TRIGGER [tg_HoaDon_ChiLapChoDonHoanThanh]
GO
/****** Object:  Trigger [dbo].[tg_KhachHang_KhongXoaKhiConDonMo]    Script Date: 6/29/2026 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Khong xoa khach hang con don chua ket thuc.
CREATE TRIGGER [dbo].[tg_KhachHang_KhongXoaKhiConDonMo]
ON [dbo].[KhachHang]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM deleted KH
        JOIN DonDichVu D ON D.MAKH = KH.MAKH
        WHERE D.TRANGTHAI NOT IN (N'Hoàn thành', N'Hủy')
    )
    BEGIN
        RAISERROR(N'Không được xóa khách hàng còn đơn chưa hoàn tất.', 16, 1);
        RETURN;
    END;

    DELETE TK
    FROM TaiKhoan TK
    JOIN deleted D ON D.MAKH = TK.MAKH;

    DELETE KH
    FROM KhachHang KH
    JOIN deleted D ON D.MAKH = KH.MAKH;
END;

GO
ALTER TABLE [dbo].[KhachHang] ENABLE TRIGGER [tg_KhachHang_KhongXoaKhiConDonMo]
GO
/****** Object:  Trigger [dbo].[tg_NhanVien_KhongXoaKhiDaPhatSinh]    Script Date: 6/29/2026 5:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Khong xoa nhan vien da phat sinh nghiep vu.
CREATE TRIGGER [dbo].[tg_NhanVien_KhongXoaKhiDaPhatSinh]
ON [dbo].[NhanVien]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM deleted NV
        WHERE EXISTS (SELECT 1 FROM DonDichVu D WHERE D.MANV_TIEPNHAN = NV.MANV)
           OR EXISTS (SELECT 1 FROM HoaDon HD WHERE HD.MANV_LAP = NV.MANV)
           OR EXISTS (SELECT 1 FROM ChungTu CT WHERE CT.MANV_KIEMTRA = NV.MANV)
    )
    BEGIN
        RAISERROR(N'Không được xóa nhân viên đã phát sinh đơn, hóa đơn hoặc chứng từ.', 16, 1);
        RETURN;
    END;

    DELETE TK
    FROM TaiKhoan TK
    JOIN deleted D ON D.MANV = TK.MANV;

    DELETE NV
    FROM NhanVien NV
    JOIN deleted D ON D.MANV = NV.MANV;
END;

GO
ALTER TABLE [dbo].[NhanVien] ENABLE TRIGGER [tg_NhanVien_KhongXoaKhiDaPhatSinh]
GO
USE [master]
GO
